### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np 
 
# File to Load (Remember to Change These)
filepath_json = "Data/purchase_data.json"

In [2]:
# Read Purchasing File and store into Pandas data frame
purchase_data= pd.read_json(filepath_json,orient="records")
purchase_data

,SN,Age,Gender,Item ID,Item Name,Price
0,Aelalis34,38,Male,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Male,174,Primitive Blade,2.46
3,Pheusrical25,21,Male,92,Final Critic,1.36
4,Aela59,23,Male,63,Stormfury Mace,1.27
...,...,...,...,...,...,...
775,Eural50,22,Male,98,"Deadline, Voice Of Subtlety",3.62
776,Lirtossa78,14,Male,104,Gladiator's Glaive,1.36
777,Tillyrin30,20,Male,117,"Heartstriker, Legacy of the Light",4.15
778,Quelaton80,20,Male,75,Brutality Ivory Warmace,1.72
779,Alim85,23,Female,107,"Splitter, Foe Of Subtlety",3.61

In [3]:
purchase_datadf = purchase_data.loc[:,["Gender","SN","Age"]]
purchase_datadf

     Gender            SN  Age
0      Male     Aelalis34   38
1      Male        Eolo46   21
2      Male   Assastnya25   34
3      Male  Pheusrical25   21
4      Male        Aela59   23
..      ...           ...  ...
775    Male       Eural50   22
776    Male    Lirtossa78   14
777    Male    Tillyrin30   20
778    Male    Quelaton80   20
779  Female        Alim85   23

[780 rows x 3 columns]

## Player Count

* Display the total number of players

In [4]:
totalplayers = purchase_data['SN'].nunique()
totalplayers

573

purchase_datadf = pd.DataFrame(purchase_data)
purchase_datadf

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

#Minor Data Munging
summary_table = summary_table.round(2)
summary_table ["Average Price"] = summary_table["Average Price"].map("${:,.2f}".format)
summary_table ["Number of Purchases"] = summary_table["Number of Purchases"].map("{:,}".format)
summary_table ["Total Revenue"] = summary_table["Total Revenue"].map("${:,.2f}".format)
summary_table = summary_table.loc[:,["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]
\

In [5]:
purchase_data_json.head(5)

NameError: name 'purchase_data_json' is not defined

In [ ]:
# Run basic calculations to obtain number of unique items, average price, etc.
uniqueitemsname = purchase_data.loc[purchase_data['Item Name']].unique()
uniqueitems = purchase_data['Item Name'].nunique()
avgprice = purchase_data['Price'].mean()
numberofpurchase = purchase_data['Purchase ID'].count()
totalrevenue = purchase_data['Price'].sum()
purchase_data.columns
purchasinganalysis_dict = {
    'Summary':[]
}

#totalrevenue
#uniqueitems
#avgprice
#numberofpurchase

In [ ]:
uniqueitemsname

In [ ]:
summarydict = {
    '# of Unique Items':uniqueitems,
    'The Average Price':avgprice,
    'Total Number of Purchases':numberofpurchase,
    'Total Revenue':totalrevenue
}
purchasinganalysis_dict['Summary'].append(summarydict)
purchasinganalysis_dict
summarydf = pd.DataFrame(purchasinganalysis_dict['Summary'])
summarydf.drop_duplicates(inplace=True)

In [ ]:
summarydf

In [ ]:
purchasinganalysis_dict

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
purchase_datadf = pd.DataFrame(purchasinganalysis_dict["Summary"])
purchase_datadf

In [ ]:
purchase_datadf = pd.DataFrame(purchasinganalysis_dict["Summary"])
purchase_datadf

In [ ]:
purchase_datadf = pd.DataFrame(purchase_data)
purchase_datadf

In [ ]:
index = [0,1,2]

#Percentage of Players(M/F/O)
CountPlayers = purchase_datadf["Gender"].value_counts()
SumPlayers = CountPlayers.sum() 
CountPlayersdf = pd.DataFrame(purchase_datadf["Gender"].value_counts())
CountPlayersdf = CountPlayersdf.rename(columns={'Gender':'Player Count'})
CountPlayersdf

#Inserting the Total Count of Players df into the Percent Players Array
PercentPlayersArray = CountPlayersdf.values
#Getting the Male Percentage
PplayersM = pd.DataFrame(PercentPlayersArray[0]/SumPlayers)*100
PplayersM = PplayersM.round(decimals=1)
#Getting the Female Percentage
PplayersF = pd.DataFrame(PercentPlayersArray[1]/SumPlayers)*100
PplayersF = PplayersF.round(decimals=1)
#Getting the Other/Non-Disclosed Percentage
PplayersO = pd.DataFrame(PercentPlayersArray[2]/SumPlayers)*100
PplayersO = PplayersO.round(decimals=1)

#Creating a new column called 'Gender Percentage' and Inserting the correct values
#into each catagory.

CountPlayersdf[" Gender Percentage"] = pd.DataFrame([[float(PplayersM.values)],[float(PplayersF.values)],[float(PplayersO.values)]],columns= [''],index=['Male','Female','Other/Non-Disclosed'])

#Displaying the DataFrame

CountPlayersdf


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
gendersort = purchase_datadf.sort_values('Gender')
genderdf = pd.DataFrame(gendersort)

malesort = genderdf.loc[genderdf['Gender']== "Male", :]
avgmalepprice = malesort['Price'].mean()
avgmaleptotal = malesort['Purchase ID'].count()

femalesort = genderdf.loc[genderdf['Gender']== "Female", :]
avgfemalepprice = femalesort['Price'].mean()
avgfemaleptotal = femalesort['Purchase ID'].count()

othersort = genderdf.loc[genderdf['Gender']== "Other / Non-Disclosed", :]
avgotherpprice = othersort['Price'].mean()
avgotherptotal = othersort['Purchase ID'].count()


genderdict = {
    "Average Male Purchase Price":avgmalepprice,
    "Average Male Total Purchase per Person":avgmaleptotal,
    "Average Female Purchase Price":avgfemalepprice,
    "Average Female Total Purchase Price per Person":avgfemaleptotal,
    "Average Other/Non-Disclosed Purchase Price":avgotherpprice,
    "Average Other/Non-Disclosed Total Purchase Price per Person":avgotherptotal
}

gendersummarydf = pd.DataFrame.from_dict(genderdict,orient = 'index')
gendersummarydf.columns = ['Purchasing Analysis (Gender)']
gendersummarydf

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
agedf = purchase_datadf.sort_values('Age')
agedf.head()

In [ ]:
bins = [0,12,19,28,45]
group_names = ["Children","Teenagers","Young Adults","Adults"]
agedf["Age Categories"] = pd.cut(agedf["Age"],bins,labels = group_names)
agedf.head()

In [ ]:
agedf

In [ ]:
#Children
childsort = agedf.loc[agedf['Age Categories']=="Children", :]
avgppricechild = childsort['Price'].mean()
avgtotalppricechild = childsort['Purchase ID'].count()

#Teenagers
teensort = agedf.loc[agedf['Age Categories']=="Teenagers", :]
avgppriceteen = teensort['Price'].mean()
avgtotalppriceteen= teensort['Purchase ID'].count()

#Young Adults
youngadultsort = agedf.loc[agedf['Age Categories']=="Young Adults", :]
avgppriceyoungadult = youngadultsort['Price'].mean()
avgtotalppriceyoungadult = youngadultsort['Purchase ID'].count()

#Adults
adultsort = agedf.loc[agedf['Age Categories']=="Adults", :]
avgppriceadult = adultsort['Price'].mean()
avgtotalppriceadult = adultsort['Purchase ID'].count()

In [ ]:
agedemographics_dict = {
    "Children's Average Purchase Price":avgppricechild,
    "Children's Total Average Purchase Price per Child":avgtotalppricechild,
    "Teenagers Average Purchase Price":avgppriceteen,
    "Teenagers Total Average Purchase Price per Teen":avgtotalppriceteen,
    "Young Adults Average Purchase Price":avgppriceyoungadult,
    "Young Adults Total Average Purchase Price per Young Adult":avgtotalppriceyoungadult,
    "Adults Average Purchase Price":avgppriceadult,
    "Adults Total Average Purchase Price per Adult":avgtotalppriceadult
}
agedemographicsdf = pd.DataFrame.from_dict(agedemographics_dict,orient='index')
agedemographicsdf.columns= ["Age Demographics Breakdown"]
agedemographicsdf

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
bins = [0,10,14,19,24,29,34,39,100]

group_names3 = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

purchase_datadf["Age Ranges"] = pd.cut(agedf["Age"],bins,labels = group_names3)

dfpurchaseage = purchase_datadf.set_index("Age Ranges")

dfpurchaseage.sort_values('Age Ranges',ascending=True)

# Write code to get:

   # The Avg purchase price

   # Purchase count

   # The total average purchase price per person for each bin.

'<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'

In [ ]:
group_names3[0]
dfpurchaseage = dfpurchaseage.rename(columns={'Age Ranges': 'AgeRanges'})

avgprice = {
    '<10':[] ,
    '10-14':[],
    '15-19':[],
    '20-24':[],
    '25-29':[],
    '30-39':[],
    '40+':[]
}
avgpriceperson = {
    '<10':[] ,
    '10-14':[],
    '15-19':[],
    '20-24':[],
    '25-29':[],
    '30-39':[],
    '40+':[]
}

# A Function to get the results is the best idea

    #Then loop through the categories to get the results for each bin

- def panalysis_age(rangeval):

In [ ]:
calculations = {
    '<10':[],
    '10-14':[],
    '15-19':[],
    '20-24':[],
    '25-29':[],
    '30-34':[],
    '35-39':[],
    '40+':[]
}

In [ ]:
counter = 0
totalcalc = 0
val = []
totalavg = []
totalavgperson = []
totalp = 0

while counter < len(group_names3):
    df = dfpurchaseage.filter(like=group_names3[counter],axis=0) 
    val.append(df['Purchase ID'].nunique())
    
    totalavg.append(df.Price.mean())
    counter = counter + 1
    
for count in range(len(totalavg)):
    totalp = totalavg[count]/val[count]
    totalavgperson.append(totalp)
  
 #totalavgperson

        #This is the code that was used above.
        #Use it as a template
malesort = genderdf.loc[genderdf['Gender']== "Male", :]
avgmalepprice = malesort['Price'].mean()
avgmaleptotal = malesort['Purchase ID'].count()

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Top Spenders

In [ ]:
purchase_datadf.head(5)

In [ ]:
#Made 'SN'(Customer Usernames) the index
topspenders = purchase_datadf['SN']
topspendersdf = pd.DataFrame(topspenders)
topspendersdf.set_index('SN') 
topspendersdf

## Most Popular Items

In [ ]:
purchasedata_df = pd.DataFrame(purchase_data)
#type(purchasedata_df)
#purchasedata_df.groupby(['Item Name']).head()
purchasedata_df

In [ ]:
mostpopularitems = purchasedata_df.iloc[:,[4,5,6]]
groupedpopularitems = mostpopularitems.groupby(['Item ID','Item Name'])
mostpopitems = groupedpopularitems
mostpopitems.head()

# Variables

- purchase_data
- totalplayers
- uniqueitemsname
- uniqueitems
- avgprice
- numberofpurchase
- totalrevenue
- purchasinganalysis_dict
- summarydict
- summarydf
- purchase_datadf
- CountPlayersdf
- genderdict 
- gendersummarydf
- agedf
- agedemographicsdf
- dfpurchaseage
- calculations
- totalavgperson
- topspenders
- topspendersdf
- mostpopularitems
- mostpopitems
- uniquepopitems
- mostpopitems_df
- groupedpopitems_summarydf

In [ ]:
topspendersdf

In [ ]:
uniquepopitems = mostpopitems['Item Name'].nunique()
uniquepopitems

In [ ]:
groupedpopitems_summarydf

1.) Retrieve the Item ID, Item Name, and Item Price columns


2.) Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


3.) Create a summary data frame to hold the results


4.) Sort the purchase count column in descending order


5.) Optional: give the displayed data cleaner formatting


*Display a preview of the summary data frame*

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

index = [0,1,2]

#Percentage of Players(M/F/O)
CountPlayers = purchase_datadf["Gender"].value_counts()
SumPlayers = CountPlayers.sum() 
CountPlayersdf = pd.DataFrame(purchase_datadf["Gender"].value_counts())
CountPlayersdf = CountPlayersdf.rename(columns={'Gender':'Player Count'})
CountPlayersdf

#Inserting the Total Count of Players df into the Percent Players Array
PercentPlayersArray = CountPlayersdf.values
#Getting the Male Percentage
PplayersM = pd.DataFrame(PercentPlayersArray[0]/SumPlayers)*100
PplayersM = PplayersM.round(decimals=1)
#Getting the Female Percentage
PplayersF = pd.DataFrame(PercentPlayersArray[1]/SumPlayers)*100
PplayersF = PplayersF.round(decimals=1)
#Getting the Other/Non-Disclosed Percentage
PplayersO = pd.DataFrame(PercentPlayersArray[2]/SumPlayers)*100
PplayersO = PplayersO.round(decimals=1)

#Creating a new column called 'Gender Percentage' and Inserting the correct values
#into each catagory.

CountPlayersdf[" Gender Percentage"] = pd.DataFrame([[float(PplayersM.values)],[float(PplayersF.values)],[float(PplayersO.values)]],columns= [''],index=['Male','Female','Other/Non-Disclosed'])

#Displaying the DataFrame

CountPlayersdf