### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np 
 
# File to Load (Remember to Change These)
filepath = "Data/purchase_data.csv"

In [2]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(filepath)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [3]:
totalplayers = purchase_data['SN'].nunique()
totalplayers

576

purchase_datadf = pd.DataFrame(purchase_data)
purchase_datadf

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

#Minor Data Munging
summary_table = summary_table.round(2)
summary_table ["Average Price"] = summary_table["Average Price"].map("${:,.2f}".format)
summary_table ["Number of Purchases"] = summary_table["Number of Purchases"].map("{:,}".format)
summary_table ["Total Revenue"] = summary_table["Total Revenue"].map("${:,.2f}".format)
summary_table = summary_table.loc[:,["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]
\

In [4]:
# Run basic calculations to obtain number of unique items, average price, etc.
uniqueitemsname = purchase_data['Item Name'].unique()
uniqueitems = purchase_data['Item Name'].nunique()
avgprice = purchase_data['Price'].mean()
numberofpurchase = purchase_data['Purchase ID'].count()
totalrevenue = purchase_data['Price'].sum()
purchase_data.columns
purchasinganalysis_dict = {
    'Summary':[]
}

#totalrevenue
#uniqueitems
#avgprice
#numberofpurchase

In [5]:
uniqueitemsname

array(['Extraction, Quickblade Of Trembling Hands', 'Frenzied Scimitar',
       'Final Critic', 'Blindscythe', 'Fury', 'Dreamkiss',
       'Interrogator, Blood Blade of the Queen', 'Abyssal Shard',
       'Souleater', 'Ghastly Adamantite Protector',
       'Singed Onyx Warscythe', 'Renewed Skeletal Katana',
       "Bloodlord's Fetish", 'Bone Crushing Silver Skewer',
       'Deadline, Voice Of Subtlety', 'Second Chance', 'Devine',
       'Nirvana', 'Blazefury, Protector of Delusions',
       'Despair, Favor of Due Diligence',
       'Sun Strike, Jaws of Twisted Visions', 'Warped Fetish',
       'Severance', 'Persuasion',
       'Oathbreaker, Last Hope of the Breaking Storm', 'Demise',
       'Blood-Forged Skeletal Spine',
       'Stormbringer, Dark Blade of Ending Misery',
       'Shadow Strike, Glory of Ending Hope', 'Striker',
       'Wolf, Promise of the Moonwalker', "Faith's Scimitar",
       'Bonecarvin Battle Axe', 'Azurewrath', 'Vengeance Cleaver',
       'Haunted Bronzed Bludgeon', 'Ritual Mace', 'Blade of the Grave',
       'Thorn, Satchel of Dark Souls', "Winter's Bite",
       'Thorn, Conqueror of the Corrupted', "Reaper's Toll", 'Avenger',
       'Shadowsteel', 'Peacekeeper, Wit of Dark Magic', 'Suspension',
       'Amnesia', 'Soul Infused Crystal', 'Wolf',
       'Relentless Iron Skewer', 'Hero Cane', 'Arcane Gem', 'Dreamsong',
       'Darkheart', 'Hailstorm Shadowsteel Scythe',
       'Whistling Mithril Warblade', 'Foul Titanium Battle Axe',
       'Retribution Axe', 'Rusty Skull',
       'Riddle, Tribute of Ended Dreams', 'Chaos, Ender of the End',
       'Storm-Weaver, Slayer of Inception', 'Venom Claymore',
       'Emberling, Defender of Delusions', 'Netherbane', 'Dawn',
       'Primitive Blade', 'Dawne', 'Curved Axe',
       'Fate, Vengeance of Eternal Justice',
       'Lazarus, Terror of the Earth', 'Lightning, Etcher of the King',
       'Betrayal, Whisper of Grieving Widows', 'Exiled Doomblade',
       'Undead Crusader', 'Downfall, Scalpel Of The Emperor',
       'Sleepwalker', 'Eternal Cleaver',
       'Expiration, Warscythe Of Lost Worlds', 'Malificent Bag',
       'Mercy, Katana of Dismay', 'Orbit', 'Deathraze', 'Serenity',
       'Heartstriker, Legacy of the Light', 'Glimmer, Ender of the Moon',
       'Deluge, Edge of the West', 'Crucifer', 'Piece Maker',
       'Brutality Ivory Warmace', "Freak's Bite, Favor of Holy Might",
       'Yearning Crusher', 'Agatha', 'Fiery Glass Crusader', 'Splinter',
       'Verdict', 'Warped Iron Scimitar',
       'Darkheart, Butcher of the Champion', 'Purgatory, Gem of Regret',
       'Woeful Adamantite Claymore', 'Hopeless Ebon Dualblade',
       "Warmonger, Gift of Suffering's End", "Misery's End",
       'Phantomlight', 'Conqueror Adamantite Mace', "Dragon's Greatsword",
       'Stormcaller', 'Spada, Etcher of Hatred', "Twilight's Carver",
       'Putrid Fan', 'Blood Infused Guardian', 'Singed Scalpel',
       'Warped Diamond Crusader', 'Endbringer', 'Feral Katana', 'Orenmir',
       'Piety, Guardian of Riddles', 'Brimstone', 'Stormfury Mace',
       'Frenzy, Defender of the Harvest', "Solitude's Reaver",
       'Mercenary Sabre', 'Yearning Mageblade',
       'Tranquility, Razor of Black Magic',
       'Oathbreaker, Spellblade of Trials',
       'Aetherius, Boon of the Blessed', 'Righteous Might',
       'Victor Iron Spikes', 'Swan Song, Gouger Of Terror',
       'Thunderfury Scimitar', 'Splitter, Foe Of Subtlety',
       'Restored Bauble', 'The Decapitator',
       'Pursuit, Cudgel of Necromancy', 'Lifebender',
       'Flux, Destroyer of Due Diligence', 'Mourning Blade', 'Toothpick',
       "Hope's End", 'Torchlight, Bond of Storms', 'Thirsty Iron Reaver',
       'Stormfury Longsword', 'Malice, Legacy of the Queen',
       'War-Forged Gold Deflector', 'Blazeguard, Reach of Eternity',
       'Soul-Forged Steel Shortsword',
       'Hellreaver, Heirloom of Inception', 'Heartless Bone Dualblade',
       'Scalpel', 'Hatred', 'Crying Steel Sickle',
       'The Void, Vengeance of Dark Magic', 'Celeste',
       'Ghost Reaver, Longsword of Magic',
       'Celeste, Incarnation of the Corrupted', 'Glinting Glass Edge',
       'The Oculus, Token of Lost Worlds', 'Massacre',
       'Alpha, Oath of Zeal', 'Possessed Core', 'Foul Edge', 'Trickster',
       'Fusion Pummel', 'Stormfury Lantern', 'Apocalyptic Battlescythe',
       'Unholy Wand', 'Unending Tyranny', 'Ragnarok',
       'Rage, Legacy of the Lone Victor', 'Worldbreaker',
       'Exiled Mithril Longsword', 'Spectral Diamond Doomblade',
       'Vindictive Glass Edge', 'Heartseeker, Reaver of Souls',
       'Alpha, Reach of Ending Hope', 'Alpha', 'Betrayer',
       'Winterthorn, Defender of Shifting Worlds', "Gladiator's Glaive"],
      dtype=object)

In [6]:
summarydict = {
    '# of Unique Items':uniqueitems,
    'The Average Price':avgprice,
    'Total Number of Purchases':numberofpurchase,
    'Total Revenue':totalrevenue
}
purchasinganalysis_dict['Summary'].append(summarydict)
purchasinganalysis_dict
summarydf = pd.DataFrame(purchasinganalysis_dict['Summary'])
summarydf.drop_duplicates(inplace=True)

In [7]:
summarydf

,# of Unique Items,The Average Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [8]:
purchasinganalysis_dict

{'Summary': [{'# of Unique Items': 179,
   'The Average Price': 3.050987179487176,
   'Total Number of Purchases': 780,
   'Total Revenue': 2379.77}]}

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
purchase_datadf = pd.DataFrame(purchasinganalysis_dict["Summary"])
purchase_datadf

,# of Unique Items,The Average Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [12]:
purchase_datadf = pd.DataFrame(purchasinganalysis_dict["Summary"])
purchase_datadf

,# of Unique Items,The Average Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [15]:
purchase_datadf = pd.DataFrame(purchase_data)
purchase_datadf

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [17]:
index = [0,1,2]

#Percentage of Players(M/F/O)
CountPlayers = purchase_datadf["Gender"].value_counts()
SumPlayers = CountPlayers.sum() 
CountPlayersdf = pd.DataFrame(purchase_datadf["Gender"].value_counts())
CountPlayersdf = CountPlayersdf.rename(columns={'Gender':'Player Count'})
CountPlayersdf

#Inserting the Total Count of Players df into the Percent Players Array
PercentPlayersArray = CountPlayersdf.values
#Getting the Male Percentage
PplayersM = pd.DataFrame(PercentPlayersArray[0]/SumPlayers)*100
PplayersM = PplayersM.round(decimals=1)
#Getting the Female Percentage
PplayersF = pd.DataFrame(PercentPlayersArray[1]/SumPlayers)*100
PplayersF = PplayersF.round(decimals=1)
#Getting the Other/Non-Disclosed Percentage
PplayersO = pd.DataFrame(PercentPlayersArray[2]/SumPlayers)*100
PplayersO = PplayersO.round(decimals=1)

#Creating a new column called 'Gender Percentage' and Inserting the correct values
#into each catagory.

CountPlayersdf[" Gender Percentage"] = pd.DataFrame([[float(PplayersM.values)],[float(PplayersF.values)],[float(PplayersO.values)]],columns= [''],index=['Male','Female','Other/Non-Disclosed'])

#Displaying the DataFrame

CountPlayersdf

                       Player Count   Gender Percentage
Male                            652                83.6
Female                          113                14.5
Other / Non-Disclosed            15                 NaN


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
gendersort = purchase_datadf.sort_values('Gender')
genderdf = pd.DataFrame(gendersort)

malesort = genderdf.loc[genderdf['Gender']== "Male", :]
avgmalepprice = malesort['Price'].mean()
avgmaleptotal = malesort['Purchase ID'].count()

femalesort = genderdf.loc[genderdf['Gender']== "Female", :]
avgfemalepprice = femalesort['Price'].mean()
avgfemaleptotal = femalesort['Purchase ID'].count()

othersort = genderdf.loc[genderdf['Gender']== "Other / Non-Disclosed", :]
avgotherpprice = othersort['Price'].mean()
avgotherptotal = othersort['Purchase ID'].count()


genderdict = {
    "Average Male Purchase Price":avgmalepprice,
    "Average Male Total Purchase per Person":avgmaleptotal,
    "Average Female Purchase Price":avgfemalepprice,
    "Average Female Total Purchase Price per Person":avgfemaleptotal,
    "Average Other/Non-Disclosed Purchase Price":avgotherpprice,
    "Average Other/Non-Disclosed Total Purchase Price per Person":avgotherptotal
}

gendersummarydf = pd.DataFrame.from_dict(genderdict,orient = 'index')
gendersummarydf.columns = ['Purchasing Analysis (Gender)']
gendersummarydf

                                                    Purchasing Analysis (Gender)
Average Male Purchase Price                                             3.017853
Average Male Total Purchase per Person                                652.000000
Average Female Purchase Price                                           3.203009
Average Female Total Purchase Price per Person                        113.000000
Average Other/Non-Disclosed Purchase Price                              3.346000
Average Other/Non-Disclosed Total Purchase Pric...                     15.000000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
agedf = purchase_datadf.sort_values('Age')
agedf.head()

In [ ]:
bins = [0,12,19,28,45]
group_names = ["Children","Teenagers","Young Adults","Adults"]
agedf["Age Categories"] = pd.cut(agedf["Age"],bins,labels = group_names)
agedf.head()

In [ ]:
agedf

In [ ]:
#Children
childsort = agedf.loc[agedf['Age Categories']=="Children", :]
avgppricechild = childsort['Price'].mean()
avgtotalppricechild = childsort['Purchase ID'].count()

#Teenagers
teensort = agedf.loc[agedf['Age Categories']=="Teenagers", :]
avgppriceteen = teensort['Price'].mean()
avgtotalppriceteen= teensort['Purchase ID'].count()

#Young Adults
youngadultsort = agedf.loc[agedf['Age Categories']=="Young Adults", :]
avgppriceyoungadult = youngadultsort['Price'].mean()
avgtotalppriceyoungadult = youngadultsort['Purchase ID'].count()

#Adults
adultsort = agedf.loc[agedf['Age Categories']=="Adults", :]
avgppriceadult = adultsort['Price'].mean()
avgtotalppriceadult = adultsort['Purchase ID'].count()

In [ ]:
agedemographics_dict = {
    "Children's Average Purchase Price":avgppricechild,
    "Children's Total Average Purchase Price per Child":avgtotalppricechild,
    "Teenagers Average Purchase Price":avgppriceteen,
    "Teenagers Total Average Purchase Price per Teen":avgtotalppriceteen,
    "Young Adults Average Purchase Price":avgppriceyoungadult,
    "Young Adults Total Average Purchase Price per Young Adult":avgtotalppriceyoungadult,
    "Adults Average Purchase Price":avgppriceadult,
    "Adults Total Average Purchase Price per Adult":avgtotalppriceadult
}
agedemographicsdf = pd.DataFrame.from_dict(agedemographics_dict,orient='index')
agedemographicsdf.columns= ["Age Demographics Breakdown"]
agedemographicsdf

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
bins = [0,10,14,19,24,29,34,39,100]

group_names3 = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

purchase_datadf["Age Ranges"] = pd.cut(agedf["Age"],bins,labels = group_names3)

dfpurchaseage = purchase_datadf.set_index("Age Ranges")

dfpurchaseage.sort_values('Age Ranges',ascending=True)

# Write code to get:

   # The Avg purchase price

   # Purchase count

   # The total average purchase price per person for each bin.

'<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'

In [ ]:
group_names3[0]
dfpurchaseage = dfpurchaseage.rename(columns={'Age Ranges': 'AgeRanges'})

avgprice = {
    '<10':[] ,
    '10-14':[],
    '15-19':[],
    '20-24':[],
    '25-29':[],
    '30-39':[],
    '40+':[]
}
avgpriceperson = {
    '<10':[] ,
    '10-14':[],
    '15-19':[],
    '20-24':[],
    '25-29':[],
    '30-39':[],
    '40+':[]
}

# A Function to get the results is the best idea

    #Then loop through the categories to get the results for each bin

- def panalysis_age(rangeval):

In [ ]:
calculations = {
    '<10':[],
    '10-14':[],
    '15-19':[],
    '20-24':[],
    '25-29':[],
    '30-34':[],
    '35-39':[],
    '40+':[]
}

In [ ]:
counter = 0
totalcalc = 0
val = []
totalavg = []
totalavgperson = []
totalp = 0

while counter < len(group_names3):
    df = dfpurchaseage.filter(like=group_names3[counter],axis=0) 
    val.append(df['Purchase ID'].nunique())
    
    totalavg.append(df.Price.mean())
    counter = counter + 1
    
for count in range(len(totalavg)):
    totalp = totalavg[count]/val[count]
    totalavgperson.append(totalp)
  
 #totalavgperson

        #This is the code that was used above.
        #Use it as a template
malesort = genderdf.loc[genderdf['Gender']== "Male", :]
avgmalepprice = malesort['Price'].mean()
avgmaleptotal = malesort['Purchase ID'].count()

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Top Spenders

In [ ]:
purchase_datadf.head(5)

In [ ]:
#Made 'SN'(Customer Usernames) the index
topspenders = purchase_datadf['SN']
topspendersdf = pd.DataFrame(topspenders)
topspendersdf.set_index('SN') 
topspendersdf

## Most Popular Items

In [ ]:
purchasedata_df = pd.DataFrame(purchase_data)
#type(purchasedata_df)
#purchasedata_df.groupby(['Item Name']).head()
purchasedata_df

In [ ]:
mostpopularitems = purchasedata_df.iloc[:,[4,5,6]]
groupedpopularitems = mostpopularitems.groupby(['Item ID','Item Name'])
mostpopitems = groupedpopularitems
mostpopitems.head()

# Variables

- purchase_data
- totalplayers
- uniqueitemsname
- uniqueitems
- avgprice
- numberofpurchase
- totalrevenue
- purchasinganalysis_dict
- summarydict
- summarydf
- purchase_datadf
- CountPlayersdf
- genderdict 
- gendersummarydf
- agedf
- agedemographicsdf
- dfpurchaseage
- calculations
- totalavgperson
- topspenders
- topspendersdf
- mostpopularitems
- mostpopitems
- uniquepopitems
- mostpopitems_df
- groupedpopitems_summarydf

In [ ]:
topspendersdf

In [ ]:
uniquepopitems = mostpopitems['Item Name'].nunique()
uniquepopitems

In [ ]:
groupedpopitems_summarydf

1.) Retrieve the Item ID, Item Name, and Item Price columns


2.) Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


3.) Create a summary data frame to hold the results


4.) Sort the purchase count column in descending order


5.) Optional: give the displayed data cleaner formatting


*Display a preview of the summary data frame*

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

index = [0,1,2]

#Percentage of Players(M/F/O)
CountPlayers = purchase_datadf["Gender"].value_counts()
SumPlayers = CountPlayers.sum() 
CountPlayersdf = pd.DataFrame(purchase_datadf["Gender"].value_counts())
CountPlayersdf = CountPlayersdf.rename(columns={'Gender':'Player Count'})
CountPlayersdf

#Inserting the Total Count of Players df into the Percent Players Array
PercentPlayersArray = CountPlayersdf.values
#Getting the Male Percentage
PplayersM = pd.DataFrame(PercentPlayersArray[0]/SumPlayers)*100
PplayersM = PplayersM.round(decimals=1)
#Getting the Female Percentage
PplayersF = pd.DataFrame(PercentPlayersArray[1]/SumPlayers)*100
PplayersF = PplayersF.round(decimals=1)
#Getting the Other/Non-Disclosed Percentage
PplayersO = pd.DataFrame(PercentPlayersArray[2]/SumPlayers)*100
PplayersO = PplayersO.round(decimals=1)

#Creating a new column called 'Gender Percentage' and Inserting the correct values
#into each catagory.

CountPlayersdf[" Gender Percentage"] = pd.DataFrame([[float(PplayersM.values)],[float(PplayersF.values)],[float(PplayersO.values)]],columns= [''],index=['Male','Female','Other/Non-Disclosed'])

#Displaying the DataFrame

CountPlayersdf